{
  "plugins": [
    "stylelint-scss",
    "stylelint-order"
  ],
  "rules": {
    "number-leading-zero": "never",
    "selector-pseudo-element-colon-notation": "single",
    "rule-empty-line-before": [
      "always",
      {
        "except": [
          "after-single-line-comment"
        ]
      }
    ],
    "declaration-bang-space-after": "never",
    "declaration-bang-space-before": "always",
    "declaration-colon-space-after": "always",
    "declaration-colon-space-before": "never",
    "declaration-block-semicolon-space-before": "never",
    "declaration-block-trailing-semicolon": "always",
    "block-closing-brace-empty-line-before": "never",
    "block-opening-brace-newline-after": "always",
    "block-closing-brace-newline-before": "always",
    "block-opening-brace-space-before": "always",
    "value-list-comma-space-after": "always",
    "value-list-comma-space-before": "never",
    "selector-list-comma-newline-after": "always",
    "function-comma-space-after": "always",
    "function-comma-space-before": "never",
    "no-eol-whitespace": true,
    "no-missing-end-of-source-newline": true,
    "indentation": [
      4,
      {
        "ignore": [
          "value"
        ]
      }
    ],
    "unit-blacklist": [
    ],
    "order/properties-order": [
      {
        "emptyLineBefore": "always",
        "properties": [
          "display"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "flex",
          "flex-basis",
          "flex-direction",
          "flex-flow",
          "flex-grow",
          "flex-shrink",
          "flex-wrap",
          "align-content",
          "align-items",
          "align-self",
          "justify-content",
          "order"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "position",
          "top",
          "right",
          "bottom",
          "left"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "columns",
          "column-gap",
          "column-fill",
          "column-rule",
          "column-span",
          "column-count",
          "column-width"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "float",
          "clear"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "transform",
          "transform-origin"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "visibility",
          "opacity",
          "z-index"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "margin",
          "margin-top",
          "margin-right",
          "margin-bottom",
          "margin-left"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "outline"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "border",
          "border-top",
          "border-right",
          "border-bottom",
          "border-left",
          "border-width",
          "border-top-width",
          "border-right-width",
          "border-bottom-width",
          "border-left-width",
          "border-style",
          "border-top-style",
          "border-right-style",
          "border-bottom-style",
          "border-left-style",
          "border-color",
          "border-top-color",
          "border-right-color",
          "border-bottom-color",
          "border-left-color",
          "border-radius",
          "border-top-left-radius",
          "border-top-right-radius",
          "border-bottom-left-radius",
          "border-bottom-right-radius"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "box-shadow",
          "box-sizing"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "background",
          "background-color",
          "background-image",
          "background-repeat",
          "background-position",
          "background-size",
          "cursor"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "width",
          "min-width",
          "max-width",
          "height",
          "min-height",
          "max-height"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "overflow"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "padding",
          "padding-top",
          "padding-right",
          "padding-bottom",
          "padding-left"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "list-style",
          "caption-side",
          "table-layout",
          "border-collapse",
          "border-spacing",
          "empty-cells"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "vertical-align",
          "text-align",
          "text-decoration",
          "text-indent",
          "text-overflow",
          "text-rendering",
          "text-shadow",
          "text-transform"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "line-height",
          "word-spacing",
          "letter-spacing",
          "white-space"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "color"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "font",
          "font-family",
          "font-size",
          "font-weight",
          "font-style",
          "font-smoothing"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "content",
          "quotes"
        ]
      },
      {
        "emptyLineBefore": "always",
        "properties": [
          "transition",
          "transition-property",
          "transition-duration",
          "transition-timing-function",
          "transition-delay"
        ]
      }
    ]
  },
  "ignoreFiles": [
    "../../../assets/sass/vendor/**/*"
  ]
}
